/* .features-section {
	background-color: var(--color-dark);
	background-image: url('https://www.transparenttextures.com/patterns/wood.png');
} */

.top-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	font-size: 1.8rem;
	background-color: var(--color-dark);
	background-image: url('https://www.transparenttextures.com/patterns/wood.png');
}

.title {
	font-size: 3.3rem;
	font-weight: 300;
}

.sub-title {
	width: 80%;
	text-align: center;
	color: var(--color-accent);
}

.featured-items {
	width: 90%;
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 1rem;
}

/* Card Component*/
.card {
	font-size: var(--fs-md);
	padding: 2rem;
	background-color: var(--color-dark);
	background-image: url('https://www.transparenttextures.com/patterns/wood.png');
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

.card img {
	transition: 0.5s ease-in-out;
}

.card img:hover {
	transform: scale(1.1);
	overflow: hidden;
	transition: 0.5s ease-in;
}
