/*Create site variable here*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
	--main-color: #fff;
	--secondary-color: hsl(39, 100%, 50%);
	--highlight-color: hsl(39, 100%, 50%, 0.7);
	--color-dark: hsl(0, 0%, 0%);
	--color-accent: #a99c92;

	--fw-light: 300;
	--fw-med: 400;
	--fw-lg: 700;

	--fs-sm: 1rem;
	--fs-md: 1.5rem;
	--fs-reg: 2rem;
	--fs-lg: 4rem;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	color: var(--color-accent);
	font-family: Merriweather sans-serif;
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: none;
}

form {
	font-family: inherit;
	font-size: inherit;
}

.btn {
	color: var(--main-color);
	font-size: 1.3rem;
	font-weight: var(--fw-med);
	width: 12rem;
	padding: 0.7rem 2rem;
	border-radius: 0.5rem;
	background-color: var(--secondary-color);
	cursor: pointer;
	margin-left: 2rem;
	transition: 0.5s;
	border-color: var(--secondary-color);
}

.btn:hover {
	color: var(--color-dark);
	background-color: var(--highlight-color);
	border: 1px solid var(--color-accent);
	transition: 0.5s;
}
