.testimonial-section {
	color: var(--color-dark);
	padding: 3rem;
	margin: 0 5%;
}

.card-container {
	display: flex;
	gap: 2rem;
}

.testimonial {
	min-height: 20rem;
	min-width: 30rem;
	padding: 40px;
	background-color: var(--highlight-color);
	border-radius: 2rem;
}

.carousel {
	cursor: grab;
	overflow: hidden;
}

.inner-carousel {
	display: flex;
}

.quote-name {
	font-size: var(--fs-reg);
}

.quote-text {
	font-size: var(--fs-md);
	text-align: left;
}
